<div class="w-full h-full bg-base">
  <div *ngIf="!loading; else spinner" class="w-full h-full flex items-center justify-start pt-[8rem] flex-col gap-4">
    <video #video class="h-[30rem] rounded"></video>
    <button (click)="snapObject()" class="text-2xl h-[3rem] w-[6rem]" mat-flat-button>SNAP</button>
    <div *ngIf="predictions.length" class="flex flex-col items-start p-4 rounded image-classifier__predictions-container">
      <div *ngFor="let prediction of predictions" class="flex gap-8 justify-center">
        <span class="image-classifier__predictions-item text-xl">{{ prediction.className | titlecase }}</span>
        <span class="image-classifier__predictions-item text-xl">{{ prediction.probability | number }}</span>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <mat-spinner diameter="80" class="mat-spinner"></mat-spinner>
  </ng-template>
</div>
