@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
 --ic-primary: #424242;
 --ic-surface-01: #B670FBFF;
 --ic-surface-02: #303030;
 --ic-text-light: #ffffff;
}

html {
  background-color: var(--ic-surface-01);
}

.mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-base {
  background-color: var(--ic-surface);
}

.rounded {
  border-radius: 0.625rem;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--ic-primary) !important;
}
